<!--h2>Inscription</!--h2>
<form-- (submit)="submitForm()">
  <input type="text" name="username" placeholder="Nom d'utilisateur" [(ngModel)]="username">
  <input type="email" name="email" placeholder="Adresse e-mail" [(ngModel)]="email">
  <input type="password" name="pass" placeholder="Mot de passe" [(ngModel)]="password">
  <button type="submit">S'inscrire</button>
</form-->
<div class="container text-center">
  <div class="row">
    <div class="col">

    </div>
    <div class="col text-center">
      <h2>Inscription</h2>
<form (submit)="submitForm()">
  <div class="mb-3">
    <label >Nom d'utilisateur</label>

  <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur" [(ngModel)]="username">
  </div>
  <div class="mb-3">
    <label >Email</label>

  <input type="text" class="form-control" name="username" placeholder="Email" [(ngModel)]="email">
  </div>
  <div class="mb-3">
    <label >Mot de passe</label>
  <input type="password" class="form-control" placeholder="Mot de passe" name="pass" [(ngModel)]="password">
</div>
<div class="mb-3">
  <button class="btn btn-primary" type="submit">S'inscrire</button>
  <br><a routerLink="../login"> Connexion</a>
  </div>
</form>
    </div>
    <div class="col">

    </div>
  </div>
</div>
